{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Добавить новый контент</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.content_type.label(class="form-label") }}
        {{ form.content_type(class="form-select") }}
    </div>
    <div class="mb-3">
        {{ form.category.label(class="form-label") }}
        {{ form.category(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.url.label(class="form-label") }}
        {{ form.url(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
