{% extends "base.html" %}

{% block content %}
<h1>Создать новый тест</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
    </div>
    <h2>Вопросы</h2>
    {% for question in form.questions %}
    <div class="question">
        <div class="form-group">
            {{ question.text.label }}
            {{ question.text(class="form-control") }}
        </div>
        <h3>Варианты ответов</h3>
        {% for option in question.options %}
        <div class="form-group">
            {{ option.text(class="form-control", placeholder="Вариант ответа") }}
            {{ option.is_correct.label }} {{ option.is_correct() }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
