{% extends "base.html" %}

{% block content %}
<h1 class="mb-4 animate__animated animate__fadeIn">Добро пожаловать на образовательный портал</h1>

<div class="row mb-4">
    <div class="col-md-8 animate__animated animate__fadeInLeft">
        <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Образование онлайн" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-4 animate__animated animate__fadeInRight">
        <h2>О нас</h2>
        <p>Мы предоставляем качественные образовательные материалы по различным направлениям программирования и информационных технологий.</p>
    </div>
</div>

<h2 class="mb-3 animate__animated animate__fadeIn">Популярные направления</h2>
<div class="row mb-4">
    <div class="col text-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="Python" class="img-fluid" style="max-height: 100px;">
        <p>Python</p>
    </div>
    <div class="col text-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript" class="img-fluid" style="max-height: 100px;">
        <p>JavaScript</p>
    </div>
    <div class="col text-center">
        <img src="https://www.vectorlogo.zone/logos/reactjs/reactjs-icon.svg" alt="React" class="img-fluid" style="max-height: 100px;">
        <p>React</p>
    </div>
    <div class="col text-center">
        <img src="https://www.vectorlogo.zone/logos/nodejs/nodejs-icon.svg" alt="Node.js" class="img-fluid" style="max-height: 100px;">
        <p>Node.js</p>
    </div>
    <div class="col text-center">
        <img src="https://www.vectorlogo.zone/logos/docker/docker-icon.svg" alt="Docker" class="img-fluid" style="max-height: 100px;">
        <p>Docker</p>
    </div>
</div>

<h2 class="mb-3 animate__animated animate__fadeIn">Популярные курсы</h2>
<div class="row mb-4">
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://i.ytimg.com/vi/6_j6QwRTl5Y/maxresdefault.jpg" class="card-img-top" alt="Python для начинающих">
            <div class="card-body">
                <h5 class="card-title">Python для начинающих</h5>
                <p class="card-text">Базовый курс по Python для тех, кто только начинает свой путь в программировании.</p>
                <a href="#" class="btn btn-primary">Смотреть курс</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://i.ytimg.com/vi/CxgOKJh4zWE/maxresdefault.jpg" class="card-img-top" alt="Основы молекулярной биологии">
            <div class="card-body">
                <h5 class="card-title">Основы молекулярной биологии</h5>
                <p class="card-text">Введение в молекулярную биологию и генетику для будущих биологов и медиков.</p>
                <a href="#" class="btn btn-primary">Смотреть курс</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://i.ytimg.com/vi/Rub-JsjMhWY/maxresdefault.jpg" class="card-img-top" alt="Квантовая механика">
            <div class="card-body">
                <h5 class="card-title">Квантовая механика</h5>
                <p class="card-text">Введение в основы квантовой механики для студентов физических специальностей.</p>
                <a href="#" class="btn btn-primary">Смотреть курс</a>
            </div>
        </div>
    </div>
</div>

<h2 class="mb-3 animate__animated animate__fadeIn">Популярные видеокурсы</h2>
<div class="row mb-4">
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://i.ytimg.com/vi/6_j6QwRTl5Y/maxresdefault.jpg" class="card-img-top" alt="Python для начинающих">
            <div class="card-body">
                <h5 class="card-title">Python для начинающих</h5>
                <p class="card-text">Базовый курс по Python для тех, кто только начинает свой путь в программировании.</p>
                <a href="#" class="btn btn-primary">Смотреть курс</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://i.ytimg.com/vi/CxgOKJh4zWE/maxresdefault.jpg" class="card-img-top" alt="JavaScript с нуля">
            <div class="card-body">
                <h5 class="card-title">JavaScript с нуля</h5>
                <p class="card-text">Полный курс по JavaScript для начинающих веб-разработчиков.</p>
                <a href="#" class="btn btn-primary">Смотреть курс</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://i.ytimg.com/vi/Rub-JsjMhWY/maxresdefault.jpg" class="card-img-top" alt="Java для начинающих">
            <div class="card-body">
                <h5 class="card-title">Java для начинающих</h5>
                <p class="card-text">Основы Java программирования для новичков в мире разработки.</p>
                <a href="#" class="btn btn-primary">Смотреть курс</a>
            </div>
        </div>
    </div>
</div>

<h2 class="mb-3 animate__animated animate__fadeIn">Последние добавленные материалы</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for content in contents %}
    <div class="col animate__animated animate__fadeInUp">
        <div class="card h-100 shadow">
            {% if content.content_type == 'image' %}
            <img src="{{ content.url }}" class="card-img-top" alt="{{ content.title }}">
            {% elif content.content_type == 'video' %}
            <div class="ratio ratio-16x9">
                <iframe src="{{ content.url }}" title="{{ content.title }}" allowfullscreen></iframe>
            </div>
            {% else %}
            <img src="https://picsum.photos/300/200?random={{ loop.index }}" class="card-img-top" alt="Случайное изображение">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ content.title }}</h5>
                <p class="card-text">Тип: {{ content.content_type }}</p>
                <p class="card-text">Категория: {{ content.category }}</p>
                <a href="{{ url_for('main.content_detail', content_id=content.id) }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="text-center mt-4">
    <a href="{{ url_for('main.add_content') }}" class="btn btn-success">Добавить новый материал</a>
</div>
{% endblock %}
